{% extends "layout.html" %}
{% block content %}

<h1 class="display-5">Create Employee</h1>
<form  action = "{{ url_for('add_employee', department_uuid=department_uuid) }}"  method="post">
  <div class="form-group">
      {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.employee_name.label }}
            {{ form.employee_name(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.date_of_birth.label }}
            {{ form.date_of_birth(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.salary.label }}
            {{ form.salary(class_="form-control") }}
        </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock %}
