{% extends "layout.html" %}
{% block content %}

<h1 class="display-5">Edit Department</h1>
<form  action = "{{ url_for('edit_department', department_uuid=department_uuid) }}"  method="post">
  <div class="form-group">
      {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.department_name.label }}
            {{ form.department_name(class_="form-control") }}
        </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock %}


