{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h5><b>Select employees date of birth span</b></h5>
                <form  action = "{{ url_for('department_employees', department_uuid=department_uuid) }}"  method="post">
                    <div class="form-group">
                        {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.start_date.label }}
                                {{ form.start_date(class_="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.end_date.label }}
                                {{ form.end_date(class_="form-control") }}
                            </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            <div style="margin-top:50px">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Date of birth</th>
                    <th scope="col">Manage</th>
                </tr>
                </thead>
                <tbody>
                {% for employee in employees['employees'] %}
                <tr>
                    <td> {{employee["employee_name"]}} </td>
                    <td> {{employee["salary"]}} </td>
                    <td> {{employee["date_of_birth"]}} </td>
                    <td>
                        <a class="btn btn-success" href="{{ url_for('edit_employee',employee_uuid = employee['uuid'],)}}" role="button">EDIT</a>
                        <a class="btn btn-danger" href="{{ url_for('delete_employee',department_uuid=department_uuid,
                        employee_uuid = employee['uuid']) }}" role="button">DELETE</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}