{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Department Name</th>
                    <th scope="col">Average Salary</th>
                    <th scope="col" style="width: 35.5%">Manage</th>
                </tr>
                </thead>
                <tbody>
                {% for department in departments %}
                    <tr>
                        <td>{{ department["name"] }}</td>
                        <td>{{ department["average_salary"] }}</td>
                        <td>
                            <div class="row px-3 md-flex justify-content-md-end">
                                <a class="btn btn-primary mr-sm-2 " href ="{{ department['uuid'] + '/employees' }}" role="button">VIEW</a>
                                <a class="btn btn-secondary mr-sm-2" href="{{ url_for('add_employee', department_uuid = department['uuid']) }}" role="button">ADD EMPLOYEE</a>
                                <a class="btn btn-success mr-sm-2" href="{{ url_for('edit_department', department_uuid=department['uuid']) }}" role="button">EDIT</a>
                                <form action="{{ url_for('delete_department', department_uuid = department['uuid']) }}" method=post>
                                    {{ delete_form.hidden_tag() }}
                                    <button type="submit" class="btn btn-danger">
                                        Delete
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}