<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Departments</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="{{url_for('index')}}">Departments</a>
            <div class="nav pull-right">
                <a class="btn btn-primary" href="{{url_for('create_department')}}" role="button">Create department</a>
            </div>
        </nav>
    </header>
    <div class="container pt-3">
    {% block content %}{% endblock %}
    </div>
</body>
</html>